body {
  font-size: calc(10px + 2vmin);
  padding: 0 2em;
}

.menuProduct {
  display: flex;
  flex-direction: row;
}

.menuProduct div {
  flex: 1;
}

.productSize {
  font-size: 0.6em;
}

.note {
  color: #a21212;
  font-size: smaller;
}